@import "tailwindcss";

/*If the hex color text is red in color its cause your IDE doesnt recognize Tailwind v4's @theme at-rule.
  download Tailwind CSS IntelliSense extension to get rid of the error.
  everything works fine even if you dont install the extension tho, just the hex color text looks red.
*/

@theme {
    /* #D1C49F  /  #EE6983 */
    --color-primary: #F55036;
    /*white*/
    --color-background: #1C1E22;
    /*#f9fafb*/
    --color-background-main: #121418;
    --color-border: #222222;

    /*#111827*/
    --color-text: #E0E0E0;
    /* text-gray-900 #6B7280*/
    --color-text-secondary: #A0A09C;
    /* text-gray-500/600 #9CA3AF*/
    --color-text-muted: #9CA3AF;
    /* text-gray-400 white*/
    --color-text-inverse: white;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@import './base/normalize.css';
@import './base/base.css';